@import "vars";
@import "mixins";
@import "../fonts/stylesheet.css";
* {
  box-sizing: border-box;
}
html,
body, #app {
  height: 100%;
}
body {
  min-width: 320px;
  overflow-x: hidden;
  width: 100%;
  font-family: "Gill Sans Pro Cyrillic", sans-serif;
  padding: 0;
  margin: 0;
}