@import "vars";
@import "mixins";
@import "../fonts/stylesheet.css";
* {
  box-sizing: border-box;
}
html,
body, #app {
  height: 100%;
}
body {
  min-width: 320px;
  overflow-x: hidden;
  width: 100%;
  font-family: "Gill Sans Pro Cyrillic", sans-serif;
  padding: 0;
  margin: 0;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  &_second {
    font-size: 48px;
    font-weight: 500;
  }
  &_grey {
    color: #000;
  }
}

.button {
  background: #E5D3D5;
  border: none;
  outline: none;
  cursor: pointer;
  height: 71px;
  line-height: 71px;
  color: #24325E;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
  width: 100%;
  position: relative;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: all .25s;
  @media screen and (max-width:768px) {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  &:hover {
    background: #D4B6BA;
    &::before {
      border-bottom-color: #D4B6BA;
    }
    &::after {
      border-top-color: #D4B6BA;
    }
  }
  &_dark {
    color: #000;
  }

  &_rect {
    /*&::before {
      content:'';
      display:block;
      clear:both;
      width:0;
      height:0;
      border-left:30px solid transparent;
      border-bottom:70px solid #D4B6BA;
      position:absolute;
      top:0;
      transition: all .25s;
      left:-30px;
      @media screen and (max-width:768px) {
        display: none;
      }
    }
    &::after {
      content:'';
      display:block;
      clear:both;
      width:0;
      height:0;
      transition: all .25s;
      border-right:30px solid transparent;
      border-top:70px solid #D4B6BA;
      position:absolute;
      top:0;
      right:-30px;
      @media screen and (max-width:768px) {
        display: none;
      }
    }*/
  }
}